/*****************************************************
 * Magic Mirror                                      *
 * Custom CSS                                        *
 *                                                   *
 * By Michael Teeuw http://michaelteeuw.nl           *
 * MIT Licensed.                                     *
 *                                                   *
 * Add any custom CSS below.                         *
 * Changes to this files will be ignored by GIT. *
 *****************************************************/

.hide{
	display: none;
	/opacity: 0.3 !important;
}
.show {
	display: block;
}
.show-always {
	display: block !important;
}

 body {
 	
 }
.fullcal{
	text-align: left;
}
.fullcal header{
	text-align: center;
	font-size: 0.8em;
}
.fullcal .small{
	font-size: 1em;
	line-height: 1.1em;
}
.fullcal .title{
	padding: 0.5em 0;
}

.st-bg { background:black; }
.st-bg-today { background:yellow; border-left:1px solid yellow; border-right:1px solid yellow; }
.st-dtitle { background:white; }

.left {
	width: 22%;
}
.right {
	width: 22%;
}
.middle {
	width: 56%;
	height:100%;
	margin-left: 22%;
	text-align:center;
}
.middle.top {
	height: 10%;
	width:100%;
	margin:0;
}
.middle.center {
	height:75%;
	margin:0;
	width:100%;
}
.middle.bottom {
	height: 15%;
	margin:0;
	width:100%;
}