.listening, .recognized-text {
	font-family: Roboto, sans-serif;
    font-weight: normal;
    line-height: 1;
}

.listening {
    font-size: 0.75em;
    opacity: 1;
    animation: pulse 4s infinite;
}
.recognized-text {
    font-size: 0.55em;
    opacity: 0.8;
    margin-top: 0.5em;
    animation: fadeOut 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	40 % {
		opacity: 0.8;
	}
	100% {
		opacity: 0;
	}
}